overrides/crash-reports/
overrides/backups/
overrides/ldlib/
overrides/logs/
overrides/local/
overrides/modernfix/
overrides/saves/
overrides/screenshots/
overrides/shaderpacks/
overrides/*-natives/
overrides/natives-*/
overrides/coremods/
overrides/server-resource-packs/
overrides/texturepacks/
overrides/simplebackups/
overrides/xaero*/
overrides/log4j2.xml
overrides/servers.dat
overrides/rhino.local.properties
overrides/servers.dat_old
overrides/usercache.json
overrides/usernamecache.json
overrides/*.jar
overrides/*.json
overrides/config/embeddium-fingerprint.json
overrides/config/oculus.properties
overrides/config/xaerominimap_entities.json
overrides/config/spark/
overrides/config/fabric
overrides/mods/.index/
overrides/gtceu/
overrides/patchouli_books/
overrides/minemenu/
overrides/icon.png
overrides/knownkeys.txt
overrides/options.txt
overrides/data/
overrides/resourcepacks/
overrides/shaderpacks/*.txt
overrides/CustomSkinLoader/caches
overrides/CustomSkinLoader/CustomSkinAPIPlus-ClientID
overrides/CustomSkinLoader/CustomSkinLoader.log
.idea/
.DS_Store
packwiz
.direnv
.envrc
/*.zip
/*.mrpack